<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_FrontendMonitoring>
            <version>1.0.0</version>
        </Hackathon_FrontendMonitoring>
    </modules>
    <global>
        <models>
            <hackathon_frontendmonitoring>
                <class>Hackathon_FrontendMonitoring_Model</class>
                <resourceModel>hackathon_frontendmonitoring_resource</resourceModel>
            </hackathon_frontendmonitoring>
            <hackathon_frontendmonitoring_resource>
                <class>Hackathon_FrontendMonitoring_Model_Resource</class>
                <entities>
                    <user_action>
                        <table>hackathon_frontendmonitoring_user_action</table>
                    </user_action>
                </entities>
            </hackathon_frontendmonitoring_resource>
        </models>
        <helpers>
            <hackathon_frontendmonitoring>
                <class>Hackathon_FrontendMonitoring_Helper</class>
            </hackathon_frontendmonitoring>
        </helpers>
        <resources>
            <hackathon_frontendmonitoring_setup>
                <setup>
                    <module>Hackathon_FrontendMonitoring</module>
                </setup>
            </hackathon_frontendmonitoring_setup>
        </resources>
    </global>
    <frontend>
        <events>
            <model_save_after>
                <observers>
                    <hackathon_frontendmonitoring>
                        <type>singleton</type>
                        <class>Hackathon_FrontendMonitoring_Model_Observer</class>
                        <method>modelSaveAfter</method>
                    </hackathon_frontendmonitoring>
                </observers>
            </model_save_after>
        </events>
    </frontend>
    <default>
        <hackathon_frontendmonitoring>
            <log_action>
                <Mage_Customer_Model_Customer />
                <Mage_Sales_Model_Quote_Item />
                <Mage_Sales_Model_Order_Item />
                <Mage_Review_Model_Review />
                <Mage_Customer_Model_Address />
                <Mage_Wishlist_Model_Item />
                <Mage_Poll_Model_Poll_Vote />
                <Mage_Sendfriend_Model_Sendfriend />
            </log_action>
        </hackathon_frontendmonitoring>
    </default>
    <phpunit>
        <suite>
            <modules>
                <Hackathon_FrontendMonitoring />
            </modules>
        </suite>
    </phpunit>
</config>